
body {
	background-image: url(img/intro_bg.jpg);
	background-repeat: fixed;
	/*set the body z-index 0*/
	z-index: 0;
}
/*a bar on the top of the page */
.topbar {
	background-color: #fff;
	width: 100%;
	height: 30px;
	opacity: 0.7;
	position: fixed;
	left: 0px;
	top: 0px;
}
.vague img {
	float: right;
	width: 40%;
	height: 40%
}
h1{
	margin: 100px 0 200px 0 ;
	font-weight: 900;
	font-size: 100px;
	text-transform: uppercase;
	letter-spacing: -5px;
	line-height: 120px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #787777;
	padding-top: 40px;
}
span.line2 {
	font-size: 80px;
}
span.line3 {
	color: #b46b6b;
	text-shadow: 1px 0px 1px #787777;
}

hr {
	height: 10px;
	background-color: silver;
	opacity: 0.4;
	margin: 50px 0 50px 0;
}

ul{
	display: inline;
}
li {
	list-style: none;
	float: left;
	margin: 0 60px;
	padding: 0;
	border: 5px;
	letter-spacing: 1px;
	font-size: 40px;
}
a {
	color: #00AAEE;
}


a:hover img {
	/*set the image blurry*/
	filter: alpha(Opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
}
.pieList img {
	width:200px;
	height: 200px;
}

/*.display li img {
	display: none;
}
.display li:hover img {
	position: absolute;
	z-index: 99999;
	float: right;
	display: block;
}*/